<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>The Toy Store</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">The Toy Store</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
    </div>
  </body>
</html>
